<section id="todoapp">
</section>
<div id="info">
  <p>Double-click to edit a todo</p>
  <p>Written by <a href="http://bitovi.com">Bitovi</a></p>
  <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</div>